@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
body
{
	margin: 0;
	padding: 0;
	align-content: center;
	min-height: 100vh;
	background: #333;
	background: b1.jpg;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Quicksand', sans-serif;
/*	font-family: consalas;*/
}
/*
@media(max-width:600px)
{
	/*.body
	{
		height:100%;
		width : auto;
	}*
	.container
	{
		height:auto;
		width : auto;
	}
}*/
/*
@media(min-width:600px)
{
	/*.body{
		height:auto;
		width:100%;
	}*
	.container{
		height:auto;
		width:auto;
	}
}*/


/*#clock {
  font-family: sans-serif;
  color: #66ff99;
  font-size: 38px;
  text-align: center;
  padding : 10px;
  padding-left:10px;
  padding-right:10px;  
  top :10%;
  left: 80%;
  display: flex;
  border: inline-text;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 20px;
  margin : auto;
  position :absolute;	
  z-index: 1;
}*/

#clock
{	position: absolute;
	display: text;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	padding-left: 30px;
	padding-right:10px;
	width:190px;
	top: 10%;
	left:105%;
	margin:auto;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 28px;
	cursor:pointer;	
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
}
#clock:hover
{
	color:  #111;
	background: #21ebff;
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	filter: hue-rotate(116deg);
}


/*.clock
{	
	position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 10px; 
	
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	box-sizing: border-box;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 10px;
	z-index: 1;

}*/

.header
{
	height: 100vh;
}
.video-background
{
	position: fixed;
	right: 0px;
	bottom: 0;
	min-width: 100%;
	min-height: 80%;
	width:100%;
	height: 80%;
	z-index: -1;
}
@media(min-aspect-ratio:16/9)
{
	.video-background
	{
		width: 100%;
		height: auto;
	}
}
@media(max-aspect-ratio:16/9)
{
	.video-background
	{
		width: auto;
		height: 100%;
	}	
}
/*.content img
{
	height:250px;
	width:300px;
}*/

/*
@media(min-aspect-ratio:16/9)
{
	.container
	{
		width: 100%;
		height: auto;
	}
}
@media(max-aspect-ratio:16/9)
{
	.container
	{
		width: auto;
		height: 100%;
	}	
}*/
@media only screen and (min-width:768px)
{
	.container{
		width:600px;
		margin: 0 auto;
	}
}
.container
{   /*margin-left:11%;
	margin-top: 75px;*/
	margin-left:8%;
	padding-left:10px+clearfix;
	margin-right:5%;
	width:100%;
	position: relative;
	display: inline-flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.container .card .face
{
	width:300px;
	height:200px;
	transition: 0.5%;
	padding-bottom: 10px;
}
.container .card .face.face1
{
	position: relative;
	background: #2C1A17;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;	
	transform: translateY(100px);
}
.container .card:hover .face.face1
{
	background: #ff0057;
	transform: translateY(0px);
		
}
.container .card .face.face1 .content
{
	opacity: 0.2;
	transition: 0.5s;
}
.container .card:hover .face.face1 .content
{
	opacity: 1;
}
.container .card:hover .face.face1 .content img
{
	cursor: pointer;
	max-width: 200px;
	max-height:150px; 
}
.container .card .face.face1 .content h3
{
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}
.container .card .face.face2
{
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-100px); 
}
.container .card:hover .face.face2
{
	transform: translateY(0); 
}
.container .card .face.face2 .content p
{
	margin: 0;
	padding: 0;
}
/*.container .card .face.face2 .content a
{
	margin: 15px 0 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	color: #333;
	padding: 5px;
	border: 1px solid #333;
}
.container .card .face.face2 .content a:hover
{
	background: #333;
	color:0 20px 50px rgba(0,0,0,0.8);;
}*/
.container .card .face.face2 .content a
{ position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
}
.container .card .face.face2 .content a:hover
{
	color: white;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
.container .card .face.face2 .content .p a
{	position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
}
.container .card .face.face2 .content .p a:hover
{
	color:  #111;
	background: #21ebff;
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	filter: hue-rotate(270deg);
}

.container .card .face.face2 .content .qb a
{	position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
}
.container .card .face.face2 .content .qb a:hover
{
	color:  white;
	
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	filter: hue-rotate(115deg);
	/*0 20px 50px rgba(0,0,0,0.8)*/
}

/*---------------next bottom*/
/**/
/*
.container1
{
	margin-top: 75px;
	width:1300px;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.container1 .card .face
{
	width:300px;
	height:200px;
	transition: 0.5%;
	padding-bottom: 10px;
}
.container1 .card .face.face1
{
	position: relative;
	background: #2C1A17;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;	
	transform: translateY(100px);
}
.container1 .card:hover .face.face1
{
	background: #ff0057;
	transform: translateY(0px);
		
}
.container1 .card .face.face1 .content
{
	opacity: 0.2;
	transition: 0.5s;
}
.container1 .card:hover .face.face1 .content
{
	opacity: 1;
}
.container1 .card:hover .face.face1 .content img
{
	cursor: pointer;
	max-width: 200px;
	max-height:150px; 
}
.container1 .card .face.face1 .content h3
{
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}
.container1 .card .face.face2
{
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0,0,0,0.8);
	transform: translateY(-100px); 
}
.container1 .card:hover .face.face2
{
	transform: translateY(0); 
}
.container1 .card .face.face2 .content p
{
	margin: 0;
	padding: 0;
}
.container1 .card .face.face2 .content a
{ position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
}
.container1 .card .face.face2 .content a:hover
{
	color: white;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
.container1 .card .face.face2 .content .p a
{	position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
}
.container1 .card .face.face2 .content .p a:hover
{
	color:  #111;
	background: #21ebff;
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	filter: hue-rotate(270deg);
}

.container1 .card .face.face2 .content .qb a
{	position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 10px;
}
.container1 .card .face.face2 .content .qb a:hover
{
	color:  white;
	
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	filter: hue-rotate(115deg);
	/*0 20px 50px rgba(0,0,0,0.8)*
}/*

.container1 .card .face.face2 
{
	background: #031321;
}

.container1 .card .face.face2 .content p
{
position: relative;
	display: ruby-text;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 5px;
}
.container1 .card .face.face2 .content p:hover
{ 
	color:  #111;
	background: #21ebff;
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	
}
.container1 .card:hover
{
	color:  #111;
	background: ;
	
	box-shadow: 0 20px 50px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
}

.container1 .card:hover
{
	animation: animate 8s linear infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0%;
	}	
	100%
	{
		background-position: 300%;
	}
}
.container1 .card:before
{
	content: '';
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom:-10px;
	z-index: -1;
	width:1940px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 600%;
	border-radius: 15px;
	filter: blur(20px);
	opacity: 0;
	transition: 0.5s;

}

.container1 .card:hover:before
{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}
/*.container1 .card
{
	position: relative;
}*/
/*.container1 .card .face
{
	width:300px;
	height:200px;
	transition: 0.4s;
}
*/
/**/
/*-----end of the next bottom------*/


/*.container .card .face.face2 .content .qb a
{	
	position: relative;
	display: inline-block;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 10px; 
	
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	box-sizing: border-box;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	border-radius: 10px;
	z-index: 1;
}
.container .card .face.face2 .content .qb a:hover
{
	animation: animate 8s linear infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0%;
	}	
	100%
	{
		background-position: 300%;
	}
}
.container .card .face.face2 .content .qb a:before
{
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom:-1px;
	z-index: -1;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 300%;
	border-radius: 15px;
	filter: blur(20px);
	opacity: 0;
	transition: 0.5s;

}

.container .card .face.face2 .content .qb a:hover:before
{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}
*/
.container .card .face.face2 
{
	background: #031321;
}
/*.container .content a .f1 	
{
	display: none;
}
.container .content a  ul li:hover .f1
{
	display: block;
	position: absolute;
	background: #333;
	margin-top: 15px;
	margin-left: -15px;
}
.container .content a  ul li:hover .f1 ul
{
	display: block;
	margin: 10px;
}
.container .card .face.face2 .content .f1 a ul
{
	margin: 0px;
	padding: 0px;
}
ul
{
	margin: 0px;
	padding: 0px;
}
.container .card .face.face2 .content .f1 ul li
{
	background-color: white;
	float: left;
}
.container .card .face.face2 .content .f1 ul li a
{
  	color: red;
  	text-decoration: none;
  	display: block;
}
.container .card .face.face2 .content .f1 ul li a:hover
{
	background-color: #333;
	color: cyan;
}
.container .card .face.face2 .content .f1 ul li ul li
{
	display: none;
}
.container .card .face.face2 .content .f1 ul li:hover ul li
{
	display: block;
}
.container .card .face.face2 .content p
{
	font-size: 24px;
	color:0 20px 50px rgba(0,0,0,0.8);
}
#2196f3
*/
.container .card .face.face2 .content p
{
position: relative;
	display: ruby-text;
	padding: 5px 15px;
	padding-top: 10px;
	padding-bottom: 5px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 14px; 
	overflow: hidden;
	transition: 0.2s;
	border-radius: 5px;
}
.container .card .face.face2 .content p:hover
{ 
	color:  #111;
	background: #21ebff;
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	
}
.container .card:hover
{
	color:  #111;
	background: ;
	
	box-shadow: 0 20px 50px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
}

.container .card:hover
{
	animation: animate 8s linear infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0%;
	}	
	100%
	{
		background-position: 300%;
	}
}
.container .card:before
{
	content: '';
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom:-10px;
	z-index: -1;
	width:1940px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 600%;
	border-radius: 15px;
	filter: blur(20px);
	opacity: 0;
	transition: 0.5s;

}

.container .card:hover:before
{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}
/*.container .card
{
	position: relative;
}*/
.container .card .face
{
	width:300px;
	height:200px;
	transition: 0.4s;
}


/*.
container .card .face.face1
{
	position: relative;
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 1;
	transform: translateY(100px);
}
.container .card:hover .face.face1
{
	box-shadow: 
	inset 0 0 60px #fff,
	inset 20px 0 80px #f0f,
	inset -20px 0 80px #0ff,
	inset 20px 0 300px #f0f,
	inset -20 0 300px #0ff,
	0 0 50px #fff,
	-10px 0 80px #f0f,
	10px 0 80px #0ff;
	transform: translateY(0px);
}
.container .card:hover .face.face1 .content
{
	opacity: 0.2;
	text-align: center;
	transition: 0.5s;
}

/*.container .card 
#03a9f4,#f441a5,#ffeb3b,#03a9f4

{
	position: relative;
	overflow: hidden;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	z-index:1;
	
	margin:0 auto;
	filter: blur(0px);
	transition: 0.2s
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 400%;
	
}

.container .card:hover
{
	animation: animate 8s ease infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0%;
	}	
	50%
	{
		background-position: 100%;
	}
	100%
	{
		background-position: 100%;
	}
}
/*container .card:before
{
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	bottom:-1px;
	z-index: -1;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 200%;
	border-radius: 15px;
	filter: blur(0px);
	opacity: 0;
	transition: 0.5s;

}

.container .card:hover:before
{
	filter: blur(0px);
	opacity: 1;
	animation: animate 8s linear infinite;
}/
h1
{
	position: absolute;
	font-size: 32px;
	margin: 0 auto;
	padding: 0;
	align-content: center;
	min-height: 100vh;
	color:#ff0057;
}*/
/*//glowing effect 1
h1
{	position: absolute;
	text-align: center;
	display: inline-flex;
	min-height: 0vh;
	padding-bottom: 20px;
	padding: 20px; 
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 32px; 
	overflow: hidden;
	transition: 0.2s;
	z-index: 1;
	border-radius: 10px;
}
h1:hover
{
	color:  #111;
	background: #21ebff;
	box-shadow: 0 0 10px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
	filter: hue-rotate(115deg);
}*
next glowing effect
h1
{
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes h1 
{
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}*
next
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}


.neonshadow(@sh2: #FF00DE, @sh1: #FFFFFF){
    color: @sh1;
    text-shadow:
    0 0 5px @sh1,
    0 0 10px @sh1,
    0 0 20px @sh1,
    0 0 40px @sh2,
    0 0 80px @sh2,
    0 0 90px @sh2,
    0 0 100px @sh2,
    0 0 150px @sh2;
}

h1{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 100px;
}

h1.pink{
  .neonshadow();
}
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;


font-size: 60px;
font-family: 'Open Sans';
color: #fff;

@font-face {
  font-family: neon;
  src: url(hellodenverdisplayregular_v1.6.ttf);
}

h1.red{
  .neonshadow(#F00);
}*

h1 {
  font-size: 32px;
  font-family: 'Open Sans';
  color: #ffd8d8;

text-shadow:
  .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 

  .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
  .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757,
  .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757, 

  .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b, 
  .1vw 0vw   5vw #e50b0b, .2vw 0vw  20vw #e50b0b, .4vw 0vw  10vw #e50b0b,
  .1vw 0vw  10vw #e50b0b, .2vw 0vw  30vw #e50b0b, .4vw 0vw  10vw #e50b0b;

text-align: center;
}     477
*
@font-face{
	font-family: sans-serif;
}
.sign{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(ellipse 50% 35% at 50% 50%;#6b1839,transparent);
	letter-spacing: 2;
	
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #ffe6ff;
	text-shadow: 0 0 0.6rem #ff65bd,
	0 - 1.5rem #ff65bd,-0.2rem 0.1rem 1rem
	#ff65bd,0.2rem 0.1rem,1rem
	1rem #ff65bd,0 -0.5rem 2 rem #ff2483,
	0.05rem 3rem #ff2483;
}
h1
{
	font-family: "clip";
	text-transform: uppercase;
	font-size: 32px;
	color: #ffe6ff;
	text-shadow: 0 0 0.6rem #ff65bd,
	0 - 1.5rem #ff65bd,-0.2rem 0.1rem 1rem
	#ff65bd,0.2rem 0.1rem,1rem
	1rem #ff65bd,0 -0.5rem 2 rem #ff2483,
	0.05rem 3rem #ff2483; 
}
@keyframes blink
{
	0%,
	22%,
	36%,
	75%{
		color: #ffe6ff;
		text-shadow: 0 0 06rem #ffe6ff,
		00 1.5rem #ff65bd,-0.2rem 0.1rem
		1rem #ff65bd,0.2rem
		0.1rem 1rem #ff65bd,0 -0.5rem
		2rem #ff2483,0 0.5rem 3rem #ff2483;
	}
	28%,
	33%{
		color: #ff2483;
		text-shadow: none;
	}
	82%
	97%{
		color: #ff2483;
		text-shadow: none;
	}
}*/
/*font-family: 'Quicksand', sans-serif;*/
.neon{
	padding:30px 30px 20px;
	position: absolute;
	top: 10%;
	left: 50%;
	margin-bottom:10%;
	transform: translate(-50%,-50%);
	margin:0;
	padding: 0 20px;
	font-size: 48px;
	color:#fff;
	text-shadow: 0 0 20px #ff005b;
	text-align: center;
}
.neon:after
{
	content: attr(data-text);
	position: absolute;
	top:0;
	left: 0; 
	padding: 0 20px;
	z-index:-1;
	color: #ff005b;
	filter: blur(15px);
}
.neon:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fe3a80;
	z-index: -2;
	opacity: .5;
	filter: blur(40px);
}
/*.bottom h2
{
	text-align: center;
	align-content: center;
	color: yellow;
}*/
.bottom a
{
	position: absolute;
	margin-top: 28%;
	margin-bottom: 50px;
	top:40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 250px;
	height:60px;
	text-align: center;
	transform-style: preserve-3d;
	perspective: 1000px;
	transform-origin: center;

}
.bottom span
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	background: rgba(255,255,255,.05); 
	transform-style: preserve-3d;
	backface-visibility: hidden;
	border-radius: 30px;
	text-transform: uppercase;
	color: #fff;
	transition: 1s;
}
.bottom span.front
{
	transform: rotateX(0deg) translatez(20px);
}
.bottom a:hover span.front
{
	transform: rotateX(-180deg) translatez(20px);
}
.bottom span.back
{
	transform: rotateX(180deg) translatez(20px);
}
.bottom a:hover span.back
{
	transform: rotateX(0deg) translatez(20px);
}
.bottom span.center
{
	background: linear-gradient(to left,#c31a5b, #7129bd);
} 
.bottom .center:before
{
	content: '';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to left,#ffdd1f, #c31a5b);
	border-radius: 30px;
	transform: translateZ(-1px);
}
.bottom a:hover span.center
{
	transform: rotateX(-180deg)translatez(0px);
}
/*new */

.bottom span.back:hover
{
	color:  #fff;  /*#2C1A17  #111*/
	background: ;
	
	box-shadow: 0 20px 50px #21ebff, 0 0 40px #21ebff, 0 0 80px #2196f3;
}

.bottom span.back:hover
{
	animation: animate 8s linear infinite;
}
@keyframes animate
{
	0%
	{
		background-position: 0%;
	}	
	100%
	{
		background-position: 300%;
	}
}
.bottom span.back:before
{
	content: '';
	position: absolute;
	top: -10px;
	left: -10px;
	right: -10px;
	bottom:-10px;
	z-index: -1;
	width:290px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	background-size: 600%;
	border-radius: 15px;
	filter: blur(20px);
	opacity: 0;
	transition: 0.5s;

}

.bottom span.back:hover:before
{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}